body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
	margin:0;
	padding:0;
}


/* 3-spaltiges Layout für breitere Viewports */

@media (min-width: 45em) {
	body {
		grid-template-columns: 3fr 1.2fr;
		grid-template-rows: auto auto min-content auto;
	}
}

header,
nav,
main,
article,
section,
aside,
footer {
	padding: 0;
	margin: 0;
}

header,
footer,
nav {
	grid-column: 1 / -1;
}

aside {
	position:sticky;
	top:0;
	height:fit-content;
}

#logo  {

  display:flex;
  margin-top:1em;
  margin-bottom:1em;
  align-items: center;
}

#logo p {
 margin:0 0 0 0;
margin-left:1em;
letter-spacing: .2em;
align-self:last baseline;
font-kerning: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans", sans-serif;
  font-kerning: none;
}


h1 {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: .1em;
}

h2 {
  font-size: 1.56em;
  line-height: 2em;
  font-weight: 300;
    letter-spacing: .1em;
  
}

h3 {
  font-size:1.25em;
  line-height: 1.8em;
  font-weight: 600;
    letter-spacing: .2em;
}

h4 {
	font-size:1em;
	line-height:1.5em;
	letter-spacing: .25em;
	font-weight:800;
}

p {
font-size: 1em;
	line-height:1.5em;
	margin: 0 0 1.5em 0;
}

.project_info p {
	text-align:justify;
}


.category {
	font-style: italic;
}

footer {
    text-align:center;
    clear:both;
    padding:1em;
}

footer a::before {
    content:"> "
}

nav {
  text-align: center;
}

nav ul {
	display: flex;
	flex-flow: row;
    padding:0;
	font-size:1.2em;
	text-align: center;
    
}

nav ul li {
	list-style: none;
	padding: 0 1em 0 0;
}

nav a {
	font-style:normal;
    text-decoration: none;
    color: #24D;
    
}

nav a::before {
    content:"> "
}


a:hover {
    font-weight:bolder;
}




body {
  	display: grid;
	gap: 0.5em;
    width:90%;
	margin: 0 auto;
	font-family: "Courier New", monospace;
  font-size:100%;
}

.project_media {
  display:flex;
    flex-wrap:wrap;
    flex-direction: auto; 
	justify-content:space-between;
   gap: 0.5em;
	margin:2em 0em;
}

.project_media img {
	flex:1 1 10em;
	max-width:20em;
	object-fit: cover;
}

.project_media iframe {
		flex:1 1 10em;
	max-width:40em;
    aspect-ratio: 16 / 9;
	object-fit: cover;
}

.copyright {
	font-size:0.5em;
}

.copyright::before {
	content:"Fotos \00A9";
	
}

ul {
    padding-left:0;
}

li {
    list-style:none;
}
