body {
	display: grid;
	gap: 0.5em;
}
/* 3-spaltiges Layout für breitere Viewports */

@media (min-width: 45em) {
	body {
		grid-template-columns: 3fr 1.2fr;
		grid-template-rows: auto auto min-content auto;
	}
}

header,
nav,
main,
article,
section,
aside,
footer {
	padding: 0;
	margin: 0;
}

header,
footer,
nav {
	grid-column: 1 / -1;
}

header {

}



nav ul {
	display: flex;
	flex-flow: row;
    padding:0;
	font-size:1.2em;
	text-align: center;
}

nav ul li {
	list-style: none;
	padding: 0 1em 0 0;
}

nav a {
	font-style:normal;
}



footer * {
	float: right;
	clear: right;
	margin: 0 0 1em;
}

body {
    max-width:68em;
	margin: 0 auto;
	font-family: "Courier New", monospace;
}

.project_media {
  display:flex;
    flex-wrap:wrap;
    flex-direction: auto; 
    justify-content: space-around;
}

.project_media img {
    max-width:30em;
    margin: 1em;
}

.project_media iframe {
    aspect-ratio: 16/9;
    margin: 1em;
    order:-1;
}
