body {
	display: grid;
	gap: 0.5em;
}
/* 3-spaltiges Layout für breitere Viewports */

@media (min-width: 45em) {
	body {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto 1fr min-content auto;
	}
}

header,
nav,
main,
article,
section,
aside,
footer {
	border-radius: 0 0.5em 0.5em;
	border: thin solid;
	padding: 1em;
}

header,
footer,
nav {
	grid-column: 1 / -1;
}

header {

}

nav {
	background: #fffbf0;
	border-color: #e7c157;
}

main {
	background: #ffede0;
	border-color: #df6c20;
}

aside {
	background: #ebf5d7;
	border-color: #8db243;
}

footer {
	background: #e4ebf2;
	border-color: #8a9da8;
}

footer * {
	float: right;
	clear: right;
	margin: 0 0 1em;
}

body {
	margin: 0 auto;
	max-width: 60em;
	font-family: sans-serif;
}

.project_media {
    display: grid;
    max-width: 60em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project_media img {
    width:100%
}
